name: Docker Image CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build nds
        run: docker build -q -t factory-ds ./scripts && docker run --rm -v "./":/work -t --entrypoint bash factory-ds:latest ./scripts/build-toolchained.sh
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: rom
          path: build/factoryds.nds
