name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build -q -t factory-ds . && docker run --rm -v "./":/work -t --entrypoint bash factory-ds:latest ./scripts/build-toolchained.sh

